* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
body {
   background-color: 	#F8F8F8;
}

 h2 {
   margin: auto;
   width: 90%;
   text-align: center;
   font-weight: 400;
}

img {
    border-radius: 50%;
    width: 50px;
    margin-left: 1em;
}
main {
  margin-top: 1em;
}
p {
  margin: 0;
}

.box {
    background-color: white;
    padding: 1em 0;
    border-radius: .5em;
    border: 2px solid #C0C0C0;
    margin: 1em auto;
    display: flex;
    width: 90%;
    justify-content: flex-start;

}
.contact-info {
    margin-left: 2em;
}

.contact-name {
   font-weight: bold;
}

#topHeading {
  margin: 2em 0;
}
@media (min-width: 1024px) {
  h2 {
    text-align: left;
  }
  body {
    width: 90%;
    margin: auto;
  }

  .flex-box {
    display: flex;
    justify-content: space-around;

  }
  .box {
    width: 30%;
    margin-bottom: 1em;


  }
  img {
    width: 120px;
  }
  .contact-info {
    margin: 1.1em 0 0 1em;
    width: 100%;
}
p {
  padding-bottom: .7em;
}


}
